//https://getbootstrap.com/docs/5.0/customize/color/
//https://colorhunt.co/

$primary: #FFD233;
$black: #333;
$gray: #999;
$light: rgba(255, 255, 255, 0.9);
$white: #fff;
$secondary: #fff8e0;
$success: #33A65A;
$info: #f0f0f0;