main{
    .bg-color{
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 49.87%, rgba(0, 0, 0, 0.8) 100%);
    }
    .bg-img-2{
        background:  url("../../images/Rectangle 2.png") no-repeat right top;
        background-size: cover;
        height: 385px;
    }
    .bg-img-8{
        background:  url("../../images/Rectangle 8.png") no-repeat right top;
        background-size: cover;
        height: 385px;
    }
    .bg-img-11{
        background:  url("../../images/Rectangle 11.png") no-repeat right top;
        background-size: cover;
        height: 385px;
    }
    .bg-img-13{
        background:  url("../../images/Rectangle 13.png") no-repeat right top;
        background-size: cover;
        height: 385px;
    }
}