.owl-dot > span{
    background: transparent !important;
    border:2px solid $primary !important;
}
.owl-dot.active > span{
    background: $primary !important;
}
@include media-breakpoint-down(md) {
    .owl-stage-outer{
        max-width: 450px;
        margin: auto;
    }
    .owl-carousel{
        width: 360px;
    }
    .owl-carousel .item{
        max-width: 305px;
        margin: auto;
    }
    .owl-dots{
        margin-left: 0;
    }
}
@include media-breakpoint-up(md) {
    .owl-carousel .item{
        max-width: 540px;
    }
    .item , .owl-stage-outer{
        margin: auto;
    }
    .owl-dots{
        margin-left: 15px;
    }
}