<% include /src/include/header.ejs %>

<main class="Site-content">
  <div class="container">
    <div class="row my-5 pb-5">
      <div class="col-12 col-md-6 col-lg-3">
        <!-- 1 -->
        <div class="d-flex flex-column border border-2 rounded-2 p-2 my-4">
          <img src="./images/Rectangle 1.png" alt="">
          <div class="d-flex align-items-center py-2">
            <img src="./images/Polygon 1.png" alt="">
            <div class="d-flex flex-column ps-2">
              <a href="#" class="text-black fs-6">نوشت افزار لورم ایپسوم</a>
              <a href="#" class="text-gray">LoremIpsumSt@</a>
            </div>
          </div>
          <p class="text-black px-1">عنوان کاتالوگ مربوط به این برند</p>
          <div class="d-flex justify-content-between px-1">
            <span class="text-gray">نوشت افزار</span>
            <div>
              <span class="pe-1">۲</span><img src="./images/comment.png" alt="">
              <span class="pe-1 ps-3">۱۲</span><img src="./images/like.png" alt="">
            </div>
          </div>
        </div>
        <!-- 2 -->
        <div class="border border-2 rounded-2 p-2 my-4">
          <div class="bg-img-2 rounded-2 position-relative">
            <div class="position-absolute bg-color w-100 h-100 top-0 start-0 rounded-2 p-2">
              <div class="position-absolute bottom-0 w-100">
                <div class="d-flex align-items-center py-2">
                  <img src="./images/Polygon 2.png" alt="">
                  <div class="d-flex flex-column ps-2">
                    <a href="#" class="text-white fs-6">املاک ریما</a>
                    <a href="#" class="text-gray">RimaRE@</a>
                  </div>
                </div>
                <div class="d-flex px-1 pb-2 position-relative">
                  <span class="text-gray">املاک</span>
                  <div class="position-absolute end-0 pe-4">
                    <span class="pe-1 text-white">۲</span><img src="./images/commentw.png" alt="">
                    <span class="pe-1 ps-2 text-white">۱۲</span><img src="./images/likew.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 3 -->
        <div class="d-flex flex-column border border-2 rounded-2 p-2 my-4">
          <img src="./images/Rectangle 3.png" alt="">
          <div class="d-flex align-items-center py-2">
            <img src="./images/Polygon 3.png" alt="">
            <div class="d-flex flex-column ps-2">
              <a href="#" class="text-black fs-6">نمایشگاه اتومبیل فرهادی</a>
              <a href="#" class="text-gray">Farhadiauto@</a>
            </div>
          </div>
          <p class="text-black px-1">عنوان کاتالوگ مربوط به این برند در اینجا نمایش داده می‌شود. عنوان کاتالوگ مربوط به این برند در اینجا نمایش داده می‌شود</p>
          <div class="d-flex justify-content-between px-1">
            <span class="text-gray">خودرو</span>
            <div>
              <span class="pe-1">۲</span><img src="./images/comment.png" alt="">
              <span class="pe-1 ps-3">۱۲</span><img src="./images/like.png" alt="">
            </div>
          </div>
        </div>
        <!-- 4 -->
        <div class="d-flex flex-column border border-2 rounded-2 p-2 my-4">
          <img src="./images/Rectangle 4.png" alt="">
          <div class="d-flex align-items-center py-2">
            <img src="./images/Polygon 4.png" alt="">
            <div class="d-flex flex-column ps-2">
              <a href="#" class="text-black fs-6">املاک ریما</a>
              <a href="#" class="text-gray">RimaRE@</a>
            </div>
          </div>
          <p class="text-black px-1">عنوان کاتالوگ</p>
          <div class="d-flex justify-content-between px-1">
            <span class="text-gray">املاک</span>
            <div>
              <span class="pe-1">۲</span><img src="./images/comment.png" alt="">
              <span class="pe-1 ps-3">۱۲</span><img src="./images/like.png" alt="">
            </div>
          </div>
        </div>
        <!-- end -->
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <!-- 1 -->
        <div class="d-flex flex-column border border-2 rounded-2 p-2 my-4">
          <img src="./images/Rectangle 5.png" alt="">
          <div class="d-flex align-items-center py-2">
            <img src="./images/Polygon 5.png" alt="">
            <div class="d-flex flex-column ps-2">
              <a href="#" class="text-black fs-6">طراحی UI آرمین محمد دوست</a>
              <a href="#" class="text-gray">AMUI@</a>
            </div>
          </div>
          <p class="text-black px-1">عنوان کاتالوگ مربوط به این برند در اینجا نمایش داده می‌شود. عنوان کاتالوگ مربوط به این برند در اینجا نمایش داده می‌شود</p>
          <div class="d-flex justify-content-between px-1">
            <span class="text-gray">طراحی UI</span>
            <div>
              <span class="pe-1">۲</span><img src="./images/comment.png" alt="">
              <span class="pe-1 ps-3">۱۲</span><img src="./images/like.png" alt="">
            </div>
          </div>
        </div>
        <!-- 2 -->
        <div class="d-flex flex-column border border-2 rounded-2 p-2 my-4">
          <img src="./images/Rectangle 6.png" alt="">
          <div class="d-flex align-items-center py-2">
            <img src="./images/Polygon 1.png" alt="">
            <div class="d-flex flex-column ps-2">
              <a href="#" class="text-black fs-6">نوشت افزار لورم ایپسوم</a>
              <a href="#" class="text-gray">LoremIpsumSt@</a>
            </div>
          </div>
          <p class="text-black px-1">عنوان کاتالوگ</p>
          <div class="d-flex justify-content-between px-1">
            <span class="text-gray">نوشت افزار</span>
            <div>
              <span class="pe-1">۲</span><img src="./images/comment.png" alt="">
              <span class="pe-1 ps-3">۱۲</span><img src="./images/like.png" alt="">
            </div>
          </div>
        </div>
        <!-- 3 -->
        <div class="d-flex flex-column border border-2 rounded-2 p-2 my-4">
          <img src="./images/Rectangle 7.png" alt="">
          <div class="d-flex align-items-center py-2">
            <img src="./images/Polygon 1.png" alt="">
            <div class="d-flex flex-column ps-2">
              <a href="#" class="text-black fs-6">نوشت افزار لورم ایپسوم</a>
              <a href="#" class="text-gray">LoremIpsumSt@</a>
            </div>
          </div>
          <p class="text-black px-1">عنوان کاتالوگ مربوط به این برند</p>
          <div class="d-flex justify-content-between px-1">
            <span class="text-gray">نوشت افزار</span>
            <div>
              <span class="pe-1">۲</span><img src="./images/comment.png" alt="">
              <span class="pe-1 ps-3">۱۲</span><img src="./images/like.png" alt="">
            </div>
          </div>
        </div>
        <!-- 4 -->
        <div class="border border-2 rounded-2 p-2 my-4">
          <div class="bg-img-8 rounded-2 position-relative">
            <div class="position-absolute bg-color w-100 h-100 top-0 start-0 rounded-2 p-2">
              <div class="position-absolute bottom-0 w-100">
                <div class="d-flex align-items-center py-2">
                  <img src="./images/Polygon 3.png" alt="">
                  <div class="d-flex flex-column ps-2">
                    <a href="#" class="text-white fs-6">نمایشگاه اتومبیل فرهادی</a>
                    <a href="#" class="text-gray">Farhadiauto@</a>
                  </div>
                </div>
                <div class="d-flex px-1 pb-2 position-relative">
                  <span class="text-gray">خودرو</span>
                  <div class="position-absolute end-0 pe-4">
                    <span class="pe-1 text-white">۲</span><img src="./images/commentw.png" alt="">
                    <span class="pe-1 ps-2 text-white">۱۲</span><img src="./images/likew.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end -->
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <!-- 1 -->
        <div class="d-flex flex-column border border-2 rounded-2 p-2 my-4">
          <img src="./images/Rectangle 9.png" alt="">
          <div class="d-flex align-items-center py-2">
            <img src="./images/Polygon 1.png" alt="">
            <div class="d-flex flex-column ps-2">
              <a href="#" class="text-black fs-6">نوشت افزار لورم ایپسوم</a>
              <a href="#" class="text-gray">LoremIpsumSt@</a>
            </div>
          </div>
          <p class="text-black px-1">عنوان کاتالوگ</p>
          <div class="d-flex justify-content-between px-1">
            <span class="text-gray">نوشت افزار</span>
            <div>
              <span class="pe-1">۲</span><img src="./images/comment.png" alt="">
              <span class="pe-1 ps-3">۱۲</span><img src="./images/like.png" alt="">
            </div>
          </div>
        </div>
        <!-- 2 -->
        <div class="d-flex flex-column border border-2 rounded-2 p-2 my-4">
          <img src="./images/Rectangle 10.png" alt="">
          <div class="d-flex align-items-center py-2">
            <img src="./images/Polygon 3.png" alt="">
            <div class="d-flex flex-column ps-2">
              <a href="#" class="text-black fs-6">نمایشگاه اتومبیل فرهادی</a>
              <a href="#" class="text-gray">Farhadiauto@</a>
            </div>
          </div>
          <p class="text-black px-1">عنوان کاتالوگ مربوط به این برند در اینجا نمایش داده می‌شود. عنوان کاتالوگ مربوط به این برند در اینجا نمایش داده می‌شود</p>
          <div class="d-flex justify-content-between px-1">
            <span class="text-gray">خودرو</span>
            <div>
              <span class="pe-1">۲</span><img src="./images/comment.png" alt="">
              <span class="pe-1 ps-3">۱۲</span><img src="./images/like.png" alt="">
            </div>
          </div>
        </div>
        <!-- 3 -->
        <div class="border border-2 rounded-2 p-2 my-4">
          <div class="bg-img-11 rounded-2 position-relative">
            <div class="position-absolute bg-color w-100 h-100 top-0 start-0 rounded-2 p-2">
              <div class="position-absolute bottom-0 w-100">
                <div class="d-flex align-items-center py-2">
                  <img src="./images/Polygon 5.png" alt="">
                  <div class="d-flex flex-column ps-2">
                    <a href="#" class="text-white fs-6">طراحی UI آرمین محمد دوست</a>
                    <a href="#" class="text-gray">AMUI@</a>
                  </div>
                </div>
                <div class="d-flex px-1 pb-2 position-relative">
                  <span class="text-gray">طراحی UI</span>
                  <div class="position-absolute end-0 pe-4">
                    <span class="pe-1 text-white">۲</span><img src="./images/commentw.png" alt="">
                    <span class="pe-1 ps-2 text-white">۱۲</span><img src="./images/likew.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 4 -->
        <div class="d-flex flex-column border border-2 rounded-2 p-2 my-4">
          <img src="./images/Rectangle 12.png" alt="">
          <div class="d-flex align-items-center py-2">
            <img src="./images/Polygon 4.png" alt="">
            <div class="d-flex flex-column ps-2">
              <a href="#" class="text-black fs-6">املاک ریما</a>
              <a href="#" class="text-gray">RimaRE@</a>
            </div>
          </div>
          <p class="text-black px-1">عنوان کاتالوگ مربوط به این برند</p>
          <div class="d-flex justify-content-between px-1">
            <span class="text-gray">املاک</span>
            <div>
              <span class="pe-1">۲</span><img src="./images/comment.png" alt="">
              <span class="pe-1 ps-3">۱۲</span><img src="./images/like.png" alt="">
            </div>
          </div>
        </div>
        <!-- end -->
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <!-- 1 -->
        <div class="border border-2 rounded-2 p-2 my-4">
          <div class="bg-img-13 rounded-2 position-relative">
            <div class="position-absolute bg-color w-100 h-100 top-0 start-0 rounded-2 p-2">
              <div class="position-absolute bottom-0 w-100">
                <div class="d-flex align-items-center py-2">
                  <img src="./images/Polygon 1.png" alt="">
                  <div class="d-flex flex-column ps-2">
                    <a href="#" class="text-white fs-6">نوشت افزار لورم ایپسوم</a>
                    <a href="#" class="text-gray">LoremIpsumSt@</a>
                  </div>
                </div>
                <div class="d-flex px-1 pb-2 position-relative">
                  <span class="text-gray">نوشت</span>
                  <div class="position-absolute end-0 pe-4">
                    <span class="pe-1 text-white">۲</span><img src="./images/commentw.png" alt="">
                    <span class="pe-1 ps-2 text-white">۱۲</span><img src="./images/likew.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 2 -->
        <div class="d-flex flex-column border border-2 rounded-2 p-2 my-4">
          <img src="./images/Rectangle 14.png" alt="">
          <div class="d-flex align-items-center py-2">
            <img src="./images/Polygon 4.png" alt="">
            <div class="d-flex flex-column ps-2">
              <a href="#" class="text-black fs-6">املاک ریما</a>
              <a href="#" class="text-gray">RimaRE@</a>
            </div>
          </div>
          <p class="text-black px-1">عنوان کاتالوگ مربوط به این برند</p>
          <div class="d-flex justify-content-between px-1">
            <span class="text-gray">املاک</span>
            <div>
              <span class="pe-1">۲</span><img src="./images/comment.png" alt="">
              <span class="pe-1 ps-3">۱۲</span><img src="./images/like.png" alt="">
            </div>
          </div>
        </div>
        <!-- 3 -->
        <div class="d-flex flex-column border border-2 rounded-2 p-2 my-4">
          <img src="./images/Rectangle 15.png" alt="">
          <div class="d-flex align-items-center py-2">
            <img src="./images/Polygon 3.png" alt="">
            <div class="d-flex flex-column ps-2">
              <a href="#" class="text-black fs-6">نمایشگاه اتومبیل فرهادی</a>
              <a href="#" class="text-gray">Farhadiauto@</a>
            </div>
          </div>
          <p class="text-black px-1">عنوان کاتالوگ</p>
          <div class="d-flex justify-content-between px-1">
            <span class="text-gray">خودرو</span>
            <div>
              <span class="pe-1">۲</span><img src="./images/comment.png" alt="">
              <span class="pe-1 ps-3">۱۲</span><img src="./images/like.png" alt="">
            </div>
          </div>
        </div>
        <!-- 4 -->
        <div class="d-flex flex-column border border-2 rounded-2 p-2 my-4">
          <img src="./images/Rectangle 16.png" alt="">
          <div class="d-flex align-items-center py-2">
            <img src="./images/Polygon 3.png" alt="">
            <div class="d-flex flex-column ps-2">
              <a href="#" class="text-black fs-6">نمایشگاه اتومبیل فرهادی</a>
              <a href="#" class="text-gray">Farhadiauto@</a>
            </div>
          </div>
          <p class="text-black px-1">عنوان کاتالوگ مربوط به این برند در اینجا نمایش داده می‌شود. عنوان کاتالوگ مربوط به این برند در اینجا نمایش داده می‌شود</p>
          <div class="d-flex justify-content-between px-1">
            <span class="text-gray">املاک</span>
            <div>
              <span class="pe-1">۲</span><img src="./images/comment.png" alt="">
              <span class="pe-1 ps-3">۱۲</span><img src="./images/like.png" alt="">
            </div>
          </div>
        </div>
        <!-- end -->
      </div>
    </div>
  </div>
</main>

<% include /src/include/footer.ejs %>