<% include /src/include/header.ejs %>

<main class="Site-content">
  <div class="container">
    <div class="row mt-5">
      <div class="col-12 col-md-6 d-flex flex-column">
        <div class="d-flex align-items-center py-2">
          <img src="./images/Polygon 80.png" alt="">
          <div class="d-flex flex-column ps-2">
            <a href="#" class="text-black fs-5">طراحی UI آرمین محمد دوست</a>
            <a href="#" class="text-gray fs-5">AMUI@</a>
          </div>
        </div>
        <div>
          <span class="fs-5 py-3 d-block">عنوان کاتالوگ</span>
          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد.</p>
          <div class="d-flex justify-content-between border-top border-black pt-4 mt-4">
            <div class="d-flex flex-column">
              <span class="text-gray"><s>۸۹۹,۰۰۰ تومان</s></span>
              <span class="text-success">۷۹۹,۰۰۰ تومان</span>
            </div>
            <div class="d-flex">
              <div class="d-flex flex-column align-items-center mx-3">
                <img src="./images/archive-add.png" alt="">
                <span class="text-gray">ذخیره</span>
              </div>
              <div class="d-flex flex-column align-items-center mx-3">
                <img src="./images/comment3.png" alt="">
                <span class="text-gray">۲</span>
              </div>
              <div class="d-flex flex-column align-items-center">
                <img src="./images/like3.png" alt="">
                <span class="text-gray">۱۲</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 d-flex justify-content-end align-items-center">
        <img src="./images/Group 761.png" class="p-4" alt="">
        <img src="./images/Rectangle amui.png" alt="">
      </div>
    </div>
    <div>
      <span class="fs-5 my-4 d-block">نظرات</span>
      <div class="mb-5 pb-4">
        <div class="bg-info rounded-3 p-4">
          <div class="d-flex justify-content-between pb-3">
            <div class="d-flex flex-column">
              <span class="fs-5">امير هدايتي</span>
              <a href="#" class="text-gray fs-5">amirh23@</a>
            </div>
            <div class="d-flex align-items-center">
              <span>پاسخ</span>
              <img src="./images/dislike.png" class="px-5" alt="">
              <span class="px-2">۳</span>
              <img src="./images/hand-like.png" alt="">
            </div>
          </div>
          <p class="fs-6">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی است.</p>
        </div>
        <div class="border border-3 rounded-3 my-3 p-4 ms-5">
          <div class="d-flex justify-content-between pb-3">
            <div class="d-flex flex-column">
              <span class="fs-5">
                <small class="text-muted">پاسخ</small>
                آرمان رضايي</span>
              <a href="#" class="text-gray fs-5">armanrezaei75@</a>
            </div>
            <div class="d-flex align-items-center">
              <span>پاسخ</span>
              <img src="./images/dislike.png" class="px-5" alt="">
              <span class="px-2">۳</span>
              <img src="./images/hand-like.png" alt="">
            </div>
          </div>
          <p class="fs-6">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی است.</p>
        </div>
        <div class="bg-info rounded-3 p-4 mt-5">
          <div class="d-flex justify-content-between pb-3">
            <div class="d-flex flex-column">
              <span class="fs-5">رضا شهيدي</span>
              <a href="#" class="text-gray fs-5">rezash@</a>
            </div>
            <div class="d-flex align-items-center">
              <span>پاسخ</span>
              <img src="./images/dislike.png" class="px-5" alt="">
              <span class="px-2">۳</span>
              <img src="./images/hand-like.png" alt="">
            </div>
          </div>
          <p class="fs-6">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی است.</p>
        </div>
        <div class="input-group my-5 bg-secondary">
          <input type="search" class="form-control bg-secondary border-0" placeholder="نظر خود را بنويسيد..." >
          <button class="btn" type="button" id="button-addon2"><img src="./images/arrow-left.png" alt=""></button>
        </div>
      </div>
    </div>
  </div>
</main>

<% include /src/include/footer.ejs %>